body {
	background: lightblue;
}

.cabecalho {
	background-color: skyblue;
}

.titulo {
	margin-top: 16px;
	background-color: blue;
}

li a, .menu li {
	text-decoration: none;
	list-style: none;	
}

.menu li a {
	display: block;
	float: left;
	padding: 10px;
}

.menu li a:hover{
	color: black;
	background-color: gray;
}

.menu {
	background-color: lightgray;
}

.cabecalho{
	border: 1px solid black;
	height: 100px;
}

.titulo:hover {
	cursor: pointer;
}

.titulo{
	border: 1px solid red;
	width: 45%;
	float: left;
}

.titulo_dois {
	list-style:none; 
	text-decoration: 
	none; color: black;
}

.menu{
	width: 45%;
	border: 1px solid blue;
	float: right;
} 

.p_um, .p_dois {
	border: 2px solid black;
	width: 70%;
	margin: 10px 12%;
	font-size: 18px;
	text-align: center;
}

.p_um {
	margin-top: 20px;
}

.lista {
	border: 2px black solid;
	width: 75px;
	font-size: 30px;
	text-align: center;
	margin-top: 32px;
}

.tabela {
	border: 2px black solid;
	width: 100px;
	font-size: 30px;
	text-align: center;
	margin-top: 32px;
}

.rodape li {
	text-decoration: none;
	list-style: none;
	margin: 10px 10px;	
	float: left;
}

.rodape_dois {
	display: block;
	width: auto;
	border: 2px solid black;
	height: 40px;
}

.rodape_dois a:hover{
	color: black;
	background-color: gray;
}

.rodape_dois a {
	padding: 10px;
}

.rodape {
	margin: 0px 30%;
}

.rodape_dois {
	margin-left: 10%;
	margin-right: 23%;
}